HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env
docs/*
src/main/resources/static/index.html
src/main/resources/static/assets/index.css
src/main/resources/static/assets/index.js
src/main/resources/static/assets/materialdesignicons-webfont.eot
src/main/resources/static/assets/materialdesignicons-webfont.ttf
src/main/resources/static/assets/materialdesignicons-webfont.woff
src/main/resources/static/assets/materialdesignicons-webfont.woff2
src/main/resources/static/index.html
vue-frontend/config.js
vue-frontend/dist/index.html
vue-frontend/dist/vite.svg
vue-frontend/dist/assets/index.css
vue-frontend/dist/assets/index.js
vue-frontend/dist/assets/materialdesignicons-webfont.eot
vue-frontend/dist/assets/materialdesignicons-webfont.ttf
vue-frontend/dist/assets/materialdesignicons-webfont.woff
vue-frontend/dist/assets/materialdesignicons-webfont.woff2
